$blue_color: #009dd4;
$red_color: #bd0f34;
$white_color: white;
$grey_color: #dedede;
$background_color: #1d1e1f;
$primary_text: #fff;
$secondary_text: #9d9d9d;

$primary_color_dark: #1976d2;
$secondary_color: #4c4c4c;

$screen-sm-min: 676px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
