$primary_color: #1976d2;
$secondary_color: #010741;
$tertiary_color: #010741;
$red_color: #bd0f34;
$white_color: white;
$grey_color: #dedede;

$background_color: #242525;

$primary_text: #d5cfc5;
$secondary_text: $white_color;

$primary_color_dark: #1976d2;
$secondary_color: #4c4c4c;

$screen-sm-min: 676px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
